
#element{
    font-family: "Noto Sans", Serif;
}

#container{
    display: flex;
    font-size: 2em;
    width: 100%;
}

#container div {
    width: 33%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5em 0.5em 0 0;
    cursor: pointer;
}

.title{
    background: #474B4F;
}

.title:hover{
    background: #61892F;
}
