

#element{
    font-family: "Noto Sans", Serif;
}

#container{
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

#container div {
    text-align: center;
    border: 1px solid black;
}

.title{
    background: lightblue;
}